<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nu.parley.android">

    <!-- Screengrab: Allows storing screenshots on external storage, where it can be accessed by ADB -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <!-- Screengrab: Allows changing locales -->
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <!-- Screengrab: Allows changing SystemUI demo mode -->
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <uses-sdk
        android:minSdkVersion="18"
        tools:overrideLibrary="tools.fastlane.screengrab, android_libs.ub_uiautomator" />
    <application
        android:theme="@style/ParleyTestStyle"/>
</manifest>